body {
  background-color: #dececa;
}
.welcum {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 90px;
  margin-left: 90px;
}

.siteintro {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 30px;
    border-style: double;
    border-width: medium;
    border-color: ##2e0703;
}
