body {
  color: white;
  font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ede6e8; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f7d2dd; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e0c5cd; 
}

a:link {
  color: #d1c5c6;
}

/* visited link */
a:visited {
  color: #b0a7a8;
}

/* mouse over link */
a:hover {
  color: #ffd1de;
}

/* selected link */
a:active {
  color: #ad8792;
}

.home {
  background-image:url('bg.gif');
  background-position: center;
  background-size: cover;
}

.welcum {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 90px;
  margin-left: 90px;
}

.siteintro {
    float: left;
    width: 200px;
    height: 175px;
    margin-right: 20px;
    margin-left: 100px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-style: double;
    border-width: medium;
    border-color: white;
}

.changes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    margin-right: 100px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-style: double;
    border-width: medium;
    border-color: white;
}


#abtlink {
  margin-left: 15px;
}


 /* end of index */

.about {
   color: #1c0303;
   background-image: url("ribbonbg.png");
   background-repeat: repeat;
   
}

#hewo {
  text-shadow: 0 0 3px #edd1d4;
  color: #1c0303;
}

 #playlist {
      height: 380px;
      width: 300px;
      text-align: center;
      border: 8px solid #a89295;
      position: relative;
      margin-top: 25px;
      margin-left: 30px;
      margin-bottom: -265px;
      }

#portrait1 {
      background-image: url('portrait1.png');
      background-size: 230px;
      height: 230px;
      width: 230px;
      border: 5px solid #eddddf;
      border-radius: 50%;
      margin: auto;
      margin-left: 550px;
      margin-bottom: -20px;
      /*
      margin-left: 150px;
      */
      }

#bancred {
  color: #1c0303;
  margin-left: 615px;
  position:relative; 
  top: -235px;
}

#chemiccred {
  color: #1c0303;
  margin-left: 800px;
  margin-top: -750px;
}

#portrait2 {
      background-image: url('portrait2.png');
      background-size: 230px;
      height: 230px;
      width: 230px;
      border: 5px solid #eddddf;
      border-radius: 50%;
      margin: auto;
      margin-left: 750px;
      margin-top: -250px;
      /*
      margin-left: 150px;
      */
      }

.me {
  color: #1c0303;
  margin-left: 645px;
  position: relative;
  top: 10px;
}
.me2 {
  color: #1c0303;
  margin-left: 670px;
  position: relative;
  top: 8px;
}

#aboutkai {
  width: 450px;
  height: 315px;
  overflow: auto;
  padding: 5px;
  position:relative;
  left: 550px;
  top: 50px;
  margin-bottom: 25px;
  color: #1c0303;
  background-color: #fff6f7;
}

.stampz {
  width: 380px;
  height: 350px;
  overflow: auto;
  border: #1c0303;
  color: #1c0303;
  position: relative;
  top: -290px;
  margin-left: 30px;
}
